{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to <span class="zf-green">OMG SOCKETS</span></h1>
    <p>It's running, this is good!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>All the sockets are running as one background process</h1>
        {% for i in 1..10 %}
        <p>Socket #{{i}} has connected to node process <span id="socket-{{i}}"><i class="fa fa-spinner fa-spin"></i></span></p>
        {% endfor %}
        <p>
        </p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>

var sockets = [];
for (let i = 1; i <= 10; i++) {
    let socket = io('http://localhost:3000');
    socket.on('news', function (data) {
        $('#socket-' + i).html(data.pid);
        console.log(data);
    });
    sockets.push(socket);
}
</script>
{% endblock %}
