<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    </head>
    <body>
        <p id="connection-status">Connecting to server <i class="fa fa-spinner fa-spin"></i></p>

        <script src="/socket-user.js"></script>
    </body>
</html>
